<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <thead>
            <tr>
                <td>#Id</td>
                <td>Title</td>
                <td>Content</td>
                <td>Created At</td>
            </tr>
        </thead>

        <tbody>
            {{#each posts}}
            <tr>
                <td>{{ this._id }}</td>
                <td>{{ this.title }}</td>
                <td>{{ this.content }}</td>
                <td>{{ this.created_at }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>